<h1>Followers</h1>
<%= render 'users/pill', user: @user%>
<div class="list-group">
  <% @user.followers.each do |follower| %>
      <%= link_to follower.username, user_path(follower.username), class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
